<!-- Page Heading -->
	<div class="row">
	    <div class="breadcrumb">
	         <H3 class="page-header">{{"admin.menu.controlpanel" | translate}}</H3>
		 </div>
        <div class="col-lg-6">
        	<card title="{{'admin.controlBoard.card.1.title' | translate}}"></card>
        </div>
         
        <div class="col-lg-6">
        	<card-statistics 
        		title1="{{'admin.controlBoard.card.2.title' | translate}}" 
        		cardobjects="cardobjects"
        		showtitle="true"
        		showselection="true"
        		selections="statistics" 
        		selectedchart="selectedchart" 
        		>
        		</card-statistics>	
        	
        </div>
    </div>
	
<!-- /.row -->
